*.o
tools/emu6k
tools/asm6k
tools/asm6k.*
tools/punch
tools/*.exe
tools/*.obj
tools/.cproject
tools/.project
tools/.qtc_clangd/
tools/.settings/
build-*/
tools/cov-int/
ug.md
build/
tools/cov-int/
gui/CMakeFiles/
tools/CMakeFiles/
CMakeLists.txt.user
Makefile
cmake_install.cmake
gui/cmake_install.cmake
tools/cmake_install.cmake

